@tailwind base;
@tailwind components;
@tailwind utilities;
.background-image{
    background-image: url('laptop-dark.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}
